/**
 * @file
 * Icon select form element.
 */

/**
 * Layout wrapper around the list of icon radio items.
 *
 * 1. We add a little bit of extra arbitrary length so that the next row of
 *    options partially show. This gives an indicator that there are more items
 *    and that scrolling can happen.
 * 2. 308px = (4 × ([.ex-icon-select__radio height] + [.ex-icon-select__radio padding] + [.ex-icon-select__radio border-width] + [.ex-icon-select__item margin])) + [arbitrary height]
 *          = (4 × (55px + (2 × 3px) + (2 × 2px) + (2 × 4px))) + 16px
 *          = (4 × (55px + 6px + 4px + 8px)) + 16px
 *          = (4 × 73px) + 16px
 *          = 292px + 16px
 * 3. 4.5rem = [.ex-icon-select__radio height] + [.ex-icon-select__radio padding] + [.ex-icon-select__item margin]
 *           = 3.5rem + (2 × 0.2rem) + (2 × 0.3rem)
 *           = 3.5rem + 0.4rem + 0.6rem
 */
.ex-icon-select {
  display: flex;
  overflow-y: auto;
  flex-wrap: wrap;
  max-height: 308px; /* 1, 2 */
  max-height: calc(4 * (4.5rem + 2px) + 1rem); /* 1, 3 */
  margin: -4px;
  margin: -0.3rem;
}

/* A single icon choice. */
.ex-icon-select__item {
  position: relative;
  margin: 4px;
  margin: 0.3rem;
}

/* Label element that is interacted with to select the option. */
.ex-icon-select__radio[class] {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  width: 3.5rem;
  height: 55px;
  height: 3.5rem;
  padding: 3px;
  padding: 0.2rem;
  text-align: center;
  border: 1px solid #b8b8b8;
  border-radius: 2px;
  background-color: transparent;
  font-weight: normal;
}
.ex-icon-select__radio:hover,
:focus + .ex-icon-select__radio,
:checked + .ex-icon-select__radio {
  border-color: #0071b8;
}
:focus + .ex-icon-select__radio {
  border-color: #40b6ff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 0 8px #40b6ff;
}
:checked + .ex-icon-select__radio {
  color: #0071b8;
  box-shadow: 0 0 0 1px #0071b8;
}

/* Visual icon glyph within a form item option. */
.ex-icon-select__icon {
  max-width: 66%;
  max-height: 66%;
  fill: currentColor;
}
