{#
/**
 * @file
 * Default theme implementation for an external-use SVG icon.
 *
 * SVG icons are pulled from one master sheet. This collapses potentially many
 * requests into 1, optimized for HTTP 1.1.
 *
 * Available variables:
 * - id: The ID of the <symbol> element to use from the spritesheet.
 * - title: The accessible label for the icon, the semantic meaning of it for
 *   assistive technology.
 * - attributes: Attributes string to set on the <svg> element.
 * - title_attributes: Title attributes to set on the title element.
 * - url: The path to the symbol.
 *
 * @see template_preprocess_ex_icon()
 *
 * @ingroup themable
 */
#}
{% if title %}<span{{ title_attributes }}>{{ title }}</span>{% endif %}
<svg{{ attributes }}><use href="{{ url }}"/></svg>
