{#
/**
 * @file
 * Default theme implementation for a icon selection form element item.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - errors: (optional) Any errors for this form element, may not be set.
 * - type: The type of the element.
 * - name: The name of the element.
 * - label: A rendered label element.
 *
 * @see template_preprocess_form_element()
 * @see template_preprocess_form_element__ex_icon_select()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'js-form-item',
    'js-form-type-' ~ type|clean_class,
    'js-form-item-' ~ name|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ children }}
  {{ label }}
</div>
