{#
/**
 * @file
 * Default theme implementation for a icon selection form element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The rendered radios.
 *
 * @see template_preprocess_radios()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('ex_icons/ex-icon-select') }}
<div{{ attributes.addClass('ex-icon-select') }}>{{ children }}</div>
